* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    font-family: sans-serif;
}
::-webkit-scrollbar{
    display: none;
}
#app {
    width: inherit;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;


    .main {
        height: max-content;
        width: 90%;
        height: max-content;
        display: flex;
        align-items: center;
        justify-content: center;

        .loader-container{
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            top: 0;
            display: none;
            align-items: center;
            justify-content: center;
            height: 100vh;
            width: 100%;
            z-index: 100;
            background-color: rgba($color: white, $alpha: 0.9);
            .loader {
                margin: 50px;
                height: 200px;
                width: 200px;
                border-radius: 50%;
                border: 10px solid rgba($color: rgb(252, 193, 66), $alpha: 0.2);
                border-top: 10px solid rgb(252, 193, 66);
                animation: spin 1s linear infinite;
                
            }
        }

        .container {
            width: 80%;
            height: max-content;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;

            .title-container {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 10vh;
                border-bottom: 2px solid rgba($color: #000000, $alpha: 0.2);
            }

            .form-container {
                margin: 20px 0px;
                height: max-content;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;


                form {
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    width: 90%;
                    font-size: 1.5rem;
                    font-weight: bold;

                    .input-content {
                        width: 90%;
                        padding: 20px;
                        margin: 10px;
                        outline: none;
                        border: 1px solid white;
                        border-radius: 10px;
                        font-size: 1.5rem;
                        font-weight: bold;
                        color: rgb(74, 77, 94);
                        font-family: sans-serif;
                        resize: none;
                        background-color: rgba($color: #000000, $alpha: 0.01);
                    }

                    ::placeholder {
                        color: rgba($color: #000000, $alpha: 0.2);
                    }

                    .icons {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 90%;
                        margin-top: 10px;

                        .icon {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 45%;
                            padding: 10px;
                            border-radius: 10px;
                            font-size: 3rem;
                            border: 2px solid white;
                            transition: all 200ms linear 0s;

                        }

                        #clearfield:hover {
                            color: red;
                            cursor: pointer;
                            background-color: rgba($color: red, $alpha: 0.05);

                        }

                        #uploadfield:hover {
                            color: green;
                            cursor: pointer;
                            background-color: rgba($color: green, $alpha: 0.05);

                        }
                    }
                }
            }

            .divder {
                border-top: 2px solid rgba($color: #000000, $alpha: 0.2);
                width: 100%;
                height: max-content;
                // background: yellow;
            }

            
            .blog-container {
                
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                height: max-content;
                padding: 50px 0px;
                display: none;

               
                .clear-previous{
                    width: 70%;
                    padding: 10px;
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-end;
                    // display: none;
                    #clear-prev-blogs{
                        border: none;
                        padding: 20px 40px;
                        border-radius: 5px;
                        font-size: 1.2rem;
                        background-color: rgba($color: rgb(252,193,66), $alpha: 0.1);
                        color:rgb(255, 174, 0);
                        cursor: pointer;
                        outline: none;
                    }
                    #clear-prev-blogs:focus{
                        outline: none;
                    }
                }
                .previous-content {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    width: 80%;
                    padding: 10px 10px;
                    // display: none;
                    .post{
                        width: 80%;
                        border: 2px solid grey;
                        border-radius: 10px;
                        padding: 30px;
                        margin: 20px;
                        height: max-content;
                        h2{
                            font-size: 1.2rem;
                            margin: 10px 0px;
                            color: rgba($color: #000000, $alpha: 0.8);
                            font-weight: normal;
                            text-align: justify;
                            line-height: 150%;
                        }
                        p{
                            color: rgba($color: #000000, $alpha: 0.4);
                        }
                    }
                }

            }
        }

        #previous-blogs {
            z-index: 99;
            position: fixed;
            bottom: 0;
            right: 0;
            padding: 40px;
            margin: 20px;
            background-color: rgb(252, 193, 66);
            border-radius: 10px;
            height: 50px;
            width: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            font-size: 3rem;
            cursor: pointer;

        }

        #previous-blogs:hover {
            animation: jump 1000ms linear infinite;
        }
    }

}

@keyframes jump {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}

@media screen and (max-width:1100px) {
    #app {
        .main {
            .container {
                width: 90%;
            }
        }
    }
}

@media screen and (max-width:800px) {
    #app {
        .main {
            .container {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width:480px) {
    #app {
        .main {
            .container {
                .title-container {
                    font-size: 0.7rem;
                }

                .form-container {
                    form {

                        .input-content {
                            font-size: 1rem;
                            width: 100%;
                        }

                        .icons {
                            .icon {
                                font-size: 2rem;
                            }
                        }
                    }
                }
                .blog-container{
                    .loader{
                        height: 75px;
                        width: 75px;
                        border: 2px solid rgba($color: rgb(252, 193, 66), $alpha: 0.2);
                        border-top: 2px solid rgb(252, 193, 66);
                    }
                    .clear-previous{
                        width: 100%;
                        #clear-prev-blogs{
                            padding: 10px;
                            font-size: 0.8rem;
                        }
                    }
                    .previous-content {
                        width: 100%;
                        padding: 2px;
                        .post{
                            border: 1px solid grey;
                            border-radius: 10px;
                            padding: 10px;
                            margin: 10px;
                            height: max-content;
                            h2{
                                font-size: 1rem;
                                margin: 10px 0px;
                            }
                            p{
                                color: rgba($color: #000000, $alpha: 0.4);
                                font-size: 0.6rem;
                            }
                        }
                    }
                }
            }

            #previous-blogs {
                height: 60px;
                width: 60px;
                font-size: 2rem;
            }
        }
    }
}